:root {
  --sidebar-width: 15%;
  --main-height: 95vh;
  --calender-header-height: 10vh;
  --calender-body-height: calc(
    var(--main-height) - var(--calender-header-height)
  );
}

body {
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: #2d3748;
  color: #ffffff;
  overflow-y: auto;
}

.filters {
  padding: 10px 10px 10px 20px;
}

.filter-group {
  padding: 10px 0px 5px 30px;
}

.main {
  margin-left: var(--sidebar-width);
  height: var(--main-height);
}

.calendar-header {
  display: flex;
  height: var(--calender-header-height);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.calendar-body {
  height: var(--calender-body-height);
  overflow-y: scroll;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #ddd;
  gap: 1px;
  margin-bottom: var(--calender-body-height);
}

.day-header {
  position: sticky;
  top: 0;
  background: #f0f0f0;
  outline: 1px solid #ddd;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.day-header.sunday {
  background: #d89a9a;
}

.day-header.saturday {
  background: #a3c0e2;
}

.cell {
  min-height: 120px;
  padding: 2px;
  outline: 1px solid #ddd;
}

.date {
  font-size: 12px;
  text-align: right;
  margin-bottom: 2px;
}

.task {
  font-size: 11px;
  font-weight: 500;
  margin: 1px 0;
  padding: 2px 2px 4px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.task:hover {
  filter: brightness(0.95);
}

.line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.badge {
  display: inline-block;
  font-size: 11px;
  padding: 1px 4px;
  border-radius: 3px;
  margin: 2px 0;
  color: #fff;
}

.city {
  border-radius: 3px;
}

.owner.overloaded {
  color: red;
  font-weight: bold;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 4px;
}

#modal {
  background: #fff;
  color: #222;
  padding: 8px 16px 16px 16px;
  border-radius: 16px;
  border: none;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#modal-close-button {
  display: block;
  margin-left: auto;
  background-color: rgb(190, 83, 56);
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 2px 5px;
}

.hidden {
  display: none;
}
